body {
  margin:0;
  color:white;
  background: #031144;
}

body img.logo {
  width: 190px ;
}
header,section {
    display: flex;
    flex-direction: column; /* 讓所有 section 乖乖從上到下排好 */
    width: 100%;
}
